<div id="<%= dom_id job_application %>">
  <p class="my-0">
    <strong>Body:</strong>
    <%= job_application.body %>
  </p>

  <p class="my-0">
    <strong>User:</strong>
    <%= job_application.user.email %>
  </p>
</div>
