<div id="<%= dom_id job_application %>">
  <p>
    <strong>Body:</strong>
    <%= job_application.body %>
  </p>

  <p>
    <strong>Job post:</strong>
    <%= job_application.job_post_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= job_application.user_id %>
  </p>

</div>
