<h1>Editing Job Application</h1>

<%= render 'form', job_application: @job_application %>

<%= link_to 'Show', job_post_job_application_path(@job_post, @job_application) %> |
<%= link_to 'Back', job_post_job_applications_path(@job_post) %>
