<div id="<%= dom_id job_post %>">
  <p class="my-0">
    <strong>Title:</strong>
    <%= job_post.title %>
  </p>

  <p class="my-0">
    <strong>Body:</strong>
    <%= job_post.body %>
  </p>

</div>
