<p style="color: green"><%= notice %></p>

<%= render @job_post %>

<p>
  <%= link_to "Apply Now", new_job_post_job_application_path(@job_post) %>
  <%= link_to "Back to job posts", job_posts_path %>
</p>
